@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --primary-color: #ba68c8;
  --primary-color-45:#ba68c859;
  --secondary-color: #181818;
  
  --neutral-color-primary: #646464;
  --neutral-color-alt-primary: #909090;
  --neutral-color-secondary: #01000065;
  --neutral-color-third: #515050;


}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-text-fill-color: var(--main-text-color);
    transition: background-color 5000s ease-in-out 0s;
    -webkit-background-clip: text;
}

ul,
li {
  list-style: none;
}

a,
a:visited,
a:link,
a:active,
a:focus {
  text-decoration: none;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  background: var(--neutral-color-secondary);
}